[submodule "Tests/googletest"]
	path = Tests/googletest
	url = https://github.com/google/googletest.git
[submodule "Source/deps/art/libart"]
	path = Source/deps/art/libart
	url = https://github.com/armon/libart.git
[submodule "Source/deps/OSShim"]
	path = Source/deps/OSShim
	url = git@github.com:vacmg/PMW-OSShim.git
[submodule "Tests/LinuxOSShim"]
	path = Tests/LinuxOSShim
	url = git@github.com:vacmg/PMW-LinuxOSShim.git
